body
{
    margin: auto;
}

h3
{
    margin-bottom: 20px;
}

.attendanceTableContainer
{
    width: 85%;
    margin: auto;
    margin-top: 20px;
}

#attendanceChart
{
    margin: auto;
    width: 70%;
}

footer
{
    text-align: center;
    background-color: lightgray;
    margin-top: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}